@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;600&family=Lato&display=swap');

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	font-size: 100%;
	line-height: 1.5;
}

p {
	margin-top: 0;
	margin-bottom: 30px;
}

h1 {
	font-family: "EB Garamond";
	font-size: 30px;
	font-weight: 600;
	margin-bottom: 30px;
	text-align: center;
}

hr {
	margin: 30px 0;
}

a:link,
a:visited,
a:active {
	color: #fff;
	text-decoration: none;
}

a:hover {
	color: #d6ba44;
}

.pageWrap {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	color: #fff;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding-top: 100px;
	position: relative;
	z-index: 1;
	min-height: max(0px, 100%);
	height: max-content;
	flex-shrink: 0;
	justify-content: flex-start;
	background-origin: padding-box;
	background-clip: border-box;
	background: #0f1a1b url("https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Fd76%2Ff1669221568973x410068446406094400%2Ficabgcolor.jpg?w=&h=&auto=compress&dpr=2&fit=max") no-repeat scroll center top;
}

.mainWrap {
	width: 100%;
	max-width: 870px;
	margin: 0 auto;
}

.footerWrap {
	background-color: #111c1d;	
}

.reviewsWrap {
	background: rgb(20,35,36);
	background: linear-gradient(0deg, rgba(20,35,36,1) 0%, rgba(14,23,24,1) 100%); 
}

.navBoilPadWrap {
	padding: 30px 0;
}

.footerNav {
	font-size: 12px;
	text-transform: uppercase;
	padding-bottom: 30px;
}

.footerNav > div:first-child {
	display: flex;
	justify-content: center;
}

.footerNav > div:first-child a {
	display: inline-block;
	margin: 0 33px;
}

.movieBoilerplate {
	padding-bottom: 30px;
}

.movieBoilerplate > div {
	max-width: 700px;
	margin: 0 auto;
}

.footerRights {
	padding-bottom: 30px;
	text-align: center;
}

.headerNavWrap {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: transparent;
	transition: background 500ms ease;
	font-family: 'EB Garamond', serif;
	font-size: 18px;
	display: flex;
	justify-content: space-between;
	padding: 18px 22px;
	text-transform: uppercase;
}

.headerNavWrap > div:nth-of-type(2) a {
	display: inline-block;
	margin: 0 15px;
}